<h1>Ma bibliothèque</h1>

<div class="action-buttons">
  <button class="home-button" routerLink="/">
    <i class="fas fa-home"></i> Accueil
  </button>
  
  <button class="add-button" routerLink="/books/add">
    <i class="fas fa-plus"></i> Ajouter un livre
  </button>
</div>

<div class="books-container">
  <div *ngIf="books && books.length > 0; else noBooks">
    <div class="book-card" *ngFor="let book of books">
      <div class="book-info">
        <h2 [appHighlight]="true">{{ book.title | titleCase }}</h2>
        <p>{{ book.author }}</p>
        <p>{{ book.description | truncate:50 }}</p>
        <p>Catégorie: {{ book.category | textFormat }}</p>
        <p>Note: {{ book.rating }}</p>
        <p>Favori: {{ book.isFavorite ? 'Oui' : 'Non' }}</p>
      </div>
      
      <div class="book-actions">
        <button routerLink="/books/{{book.id}}">Détails</button>
        <button (click)="toggleFavorite(book)">{{ book.isFavorite ? 'Retirer des favoris' : 'Ajouter aux favoris' }}</button>
        <button (click)="deleteBook(book.id)">Supprimer</button>
      </div>
    </div>
  </div>

  <ng-template #noBooks>
    <div class="no-books-message">
      <p>Aucun livre dans votre bibliothèque.</p>
      <button class="add-button" routerLink="/books/add">Ajouter mon premier livre</button>
    </div>
  </ng-template>
</div>
